#################################################
# Quartus Files
#################################################

db/
incremental_db/
output_files/
simulation/
greybox_tmp/
*.qws
*.qdf
*.rpt
*.summary
*.smsg
*.pin
*.sof
*.pof
*.jdi
*.bak
*.qpf.bak
*.qsf.bak

#################################################
# ModelSim Files
#################################################

work/
transcript
vsim.wlf
*.wlf
*.log
modelsim.ini

#################################################
# Waveform / Simulation
#################################################

*.vcd
*.fst
*.dump

#################################################
# Temporary Files
#################################################

*.tmp
*.temp
*.swp
*.cache

#################################################
# MATLAB Files
#################################################

*.asv
slprj/
sfprj/

#################################################
# OS Files
#################################################

Thumbs.db
.DS_Store

#################################################
# VSCode
#################################################

.vscode/

#################################################
# Python Cache
#################################################

__pycache__/
*.pyc